<h1>Hello im Thor</h1>
<h2>Still under construction :)</h2>
<!--
<p>ToDos on this website:</p>
<p>Better UI <br>
     more text from project and other stuff <br>
      add images to from the projects <br>
       add some navigation so its not all on one page <br>
        Add the missing links <br>
        mobile friendly <br>
    find a font</p>
<br>
-->
<div class="links">
    <a target="_blank" href="github.com/gubbih"><img src="..\assets\Social\github.png" alt="Github icon"/><div class="hiden-label">Github</div></a>
    
    <a target="_blank" href=""><img src="..\assets\Social\facebook.png" alt="FaceBook icon"><div class="hiden-label">FaceBook</div></a>
    
    <a target="_blank" href="instagram.com/thor.nado.hansen/"><img src="..\assets\Social\instagram.png" alt="Instagram icon"><div class="hiden-label">Instagram</div></a>
    
    <a target="_blank" href="linkedin.com/in/thor-l-46b164b1/"><img src="..\assets\Social\linkedin.png" alt="Linkedin icon"><div class="hiden-label">Linkedin</div></a>

    <a target="_blank" href="bsky.app/profile/gubih.bsky.social"><img src="..\assets\Social\Bluesky.png" alt="Bluesky icon"><div class="hiden-label">Bluesky</div></a>

    <a target="_blank" href="open.spotify.com/user/kirb_y?si=0d0ab9772e7745d8"><img src="..\assets\Social\spotify.png" alt="Spotify icon"><div class="hiden-label">Spotify</div></a>
    
</div> 
<div class="about_me">
    <h2>About me</h2>
    <p>
        Coding has been a passion of mine since my time as a Web Integrator, where I first discovered the thrill of creating something from scratch. For me, programming is more than just writing code; it is the journey from feeling like the least knowledgeable person in the room to mastering a challenge and delivering a solution. That rollercoaster of learning and problem-solving is what keeps me motivated and gives me an incredible dopamine hit when everything clicks into place.
        <br><br>
        In my free time, I have recently shifted from World of Warcraft to more relaxed yet equally complex games like Factorio. The game's focus on building and optimizing production systems mirrors the very principles I use in coding, planning, problem-solving, and optimizing systems to ensure they function as efficiently as possible. I find the challenge of creating streamlined, efficient systems in Factorio to be a rewarding parallel to my work as a developer.
        <br><br>
        When I'm not coding or gaming, I love to climb and have really gotten into the sport. Staying active and social is important to me, and back in Odense, I enjoyed playing badminton as a fun way to connect with others and stay healthy. After a busy week, there is nothing better than relaxing with a cold beer and good company.
        <br><br>
        Although I would not describe myself as particularly creative, I often come up with some pretty wild ideas. When I do not have something urgent on my plate, I tend to dive headfirst into these ideas and get completely absorbed until I have figured it out. I have a strong ability to hyper-focus, and once I am in the zone, I do not stop until the task is done.
    </p>
</div>