<h1>Hello im Thor</h1>
<h2>Still under construction</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsa voluptates mollitia molestias nostrum consequuntur maxime eos. Debitis quis temporibus et nisi dolore ad, laborum animi assumenda nulla veniam nihil?</p>
<p>Her er min links til SoMe</p>
<div class="links">
    <a target="_blank" href="https://github.com/gubbih"><img src="..\assets\github.png" alt="Github icon"/><div class="hiden-label">Github</div></a>
    
    <a target="_blank" href=""><img src="..\assets\facebook.png" alt="FaceBook icon"><div class="hiden-label">FaceBook</div></a>
    
    <a target="_blank" href="www.instagram.com/thor.nado.hansen/"><img src="..\assets\instagram.png" alt="Instagram icon"><div class="hiden-label">Instagram</div></a>
    
    <a target="_blank" href="linkedin.com/in/thor-l-46b164b1/"><img src="..\assets\linkedin.png" alt="Linkedin icon"><div class="hiden-label">Linkedin</div></a>
    
</div>