<h1>Hello im Thor</h1>
<h2>Still under construction</h2>
<p>ToDos on this website:</p>
<p>Better UI <br>
     more text from project and other stuff <br>
      add images to from the projects <br>
       add some navigation so its not all on one page <br>
        MAKE MORE PROJECTS! <br>
        Add the missing links <br>
        mobile friendly <br>
        Write a better about me or somekind of a blog <br>
    find a font</p>
<br>
<div class="links">
    <a target="_blank" href="github.com/gubbih"><img src="..\assets\github.png" alt="Github icon"/><div class="hiden-label">Github</div></a>
    
    <a target="_blank" href=""><img src="..\assets\facebook.png" alt="FaceBook icon"><div class="hiden-label">FaceBook</div></a>
    
    <a target="_blank" href="instagram.com/thor.nado.hansen/"><img src="..\assets\instagram.png" alt="Instagram icon"><div class="hiden-label">Instagram</div></a>
    
    <a target="_blank" href="linkedin.com/in/thor-l-46b164b1/"><img src="..\assets\linkedin.png" alt="Linkedin icon"><div class="hiden-label">Linkedin</div></a>

    <a target="_blank" href="bsky.app/profile/gubih.bsky.social"><img src="..\assets\Bluesky.png" alt="Bluesky icon"><div class="hiden-label">Bluesky</div></a>

    <a target="_blank" href="open.spotify.com/user/kirb_y?si=0d0ab9772e7745d8"><img src="..\assets\spotify.png" alt="Spotify icon"><div class="hiden-label">Spotify</div></a>
    
</div>