<div>
    <h2>Experience</h2>
    <p>
        Fullstack Developer, Uppdropp, Copenhagen (Aug 2023 - Nov 2023) <br>
    Led the backend group and supported the frontend group during a React Native project, despite all team members being interns. Quickly mastered React Native, becoming the go-to resource for the team and ensuring smooth collaboration and progress. Developed a stable mobile application using Node.js, Firebase, and React Native (Expo), and played a pivotal role in debugging and implementing frontend solutions.
    </p>

</div>
<div>
    <h2>Voulenteer work</h2>
    <br>
    <h3>Richters Gladsaxe</h3>
    <p>

    </p>
    <h3>Young night raven Odense | Unge natte ravne Odense</h3>
    <p>
        As young night raven, it's similar to being a night watchman, except we're also
        allowed to enter nightclubs. A typical night as a young night owl involves walking
        around the city, talking to a lot of young people, and making sure they are okay.
        Most of the time, these are friendly conversations, but sometimes there are
        young people who are struggling, and then we try to help as best as we can.
    </p>
    <h3>BeerBox - Barmanger</h3>
    <p>
        In my role as Bar Manager at BeerBox, the student bar at my school, I was
        responsible for maintaining the efficient operation of the entire bar, both inside
        and outside. This included planning and coordinating meetings, as well as
        ensuring the well-being of the volunteers within the environment created by the
        bar managers. Additionally, I was in charge of maintaining agreements and
        meetings with our suppliers and partners.
    </p>
    <h3>BeerBox - Bartender</h3> 
    <p>
        As a volunteer at BeerBox, I had the opportunity to assist with setting up and
        taking down larger events, as well as primarily serving at the bar during these
        events. Additionally, it was important to listen to and follow the Bar Manager's
        instructions. I have always enjoyed this role, as it has added an extra dimension
        to both my student life and later to my personal life.
    </p>
    
    <h3></h3>

</div>

<div>
    <h2>Hobbies:</h2>
    <br>
    <p>
        I enjoy playing games and have
        recently transitioned from World of
        Warcraft to more relaxing games like
        Factorio, where I build and optimize
        production systems. I see parallels to
        coding, as both require planning,
        problem-solving, and optimization to
        ensure the systems function
        efficiently. <br>
        I've also developed a strong interest
        in climbing, which I practice
        regularly. <br>
        Previously, when I lived in Odense, I
        played badminton, which was a great
        way to stay active and social.
        A good beer with great company
        after a long week is also something I
        value as a way to relax and enjoy my
        free time. <br>
    </p>
</div>

<div>
    <h2>Non-tech Experience</h2>
    <br>
    <h3>June - Bartender</h3>
    <p>
        
    </p>
    <h3>Rio bravi - Bartender</h3>
    <p>

    </p>
    <h3>Home care</h3>
    <p>
        
    </p>
    <h3> World wide fund for nature in DK - Fundraiser</h3>
    <p>

    </p>
    <h3>Red cross DK - IT-Support</h3>
    <p>

    </p>
</div>
