<div>
    <h2>Experience</h2>
    <p>
        Fullstack Developer, Uppdropp, Copenhagen (Aug 2023 – Nov 2023) <br>
    Led the backend group and supported the frontend group during a React Native project, despite all team members being interns. Quickly mastered React Native, becoming the go-to resource for the team and ensuring smooth collaboration and progress. Developed a stable mobile application using Node.js, Firebase, and React Native (Expo), and played a pivotal role in debugging and implementing frontend solutions.
    </p>

</div>
<div>
    <h2>Voulenteer work</h2>
    <br>
    <h3>Richters Gladsaxe</h3>
    <p>

    </p>
    <h3>Young night raven Odense | Unge natte ravne Odense</h3>
    <p>

    </p>
    <h3>Beerbox - barmanger</h3>
    <p>

    </p>
    <h3>BeerBox - Bartender</h3> 
    <p>

    </p>
    
    <h3></h3>

</div>
<div>
    <h2>Non-tech Experience</h2>
    <br>
    <h3>June - Bartender</h3>
    <p>
        
    </p>
    <h3>Rio bravi - Bartender</h3>
    <p>

    </p>
    <h3>Home care</h3>
    <p>
        
    </p>
    <h3> World wide fund for nature in DK - Fundraiser</h3>
    <p>

    </p>
    <h3>Red cross DK - IT-Support</h3>
    <p>

    </p>
</div>
