<div>
    <h2>Experience</h2>
    <p>
        Fullstack Developer, Uppdropp, Copenhagen (Aug 2023 – Nov 2023) <br>
    Led the backend group and supported the frontend group during a React Native project, despite all team members being interns. Quickly mastered React Native, becoming the go-to resource for the team and ensuring smooth collaboration and progress. Developed a stable mobile application using Node.js, Firebase, and React Native (Expo), and played a pivotal role in debugging and implementing frontend solutions.
    </p>

</div>