<div>
    <h2>Projects</h2>
    <h3><a href="https://github.com/5-semesterprojekt">CMS for association work:</a></h3>
    <p>
        This is my last school project from my 5th semester. <br>
        in short it is a CMS for associations to manage their members, events, and finances. <br>
        Me and my friend from the project both got a 12/A for the project. <br>
        If you want to read the report, you can find it <a href="https://docs.google.com/document/d/1DJ6c2McJqItpUdfnAEB6k4sWdJIH71Lq6dEyRg8fLvY/edit?usp=sharing">here</a>. <br>
    </p>

    <h3><a href="">June bar:</a></h3>
    <p>
        Created an Android app in Kotlin to manage cocktail recipes, enhancing usability and quick deployment skills. 
        <br>
        Developed a web application as a final project for the Datamatiker program, specializing in GDPR and backend REST APIs, achieving top marks. 
        <br>
        Built a "screaming plant" project, combining creative tech and practical applications for interactive feedback. 
        <br>
    </p>
    <h3>Screaming plant</h3>
    <p>
        Made a screaming plant with help from an arduino, a humidity sensor, and a speaker. <br>
        the sensor went into the dirt and when the plant needed water, it would scream. simple but fun project. <br>
        destroyed the project after 2 days because the plant was screaming too much, probebly says more about me then the project. <br>
    </p>
        <h3>Tournament Generator</h3>
    <p>
          Developed a simple yet effective command-line program for a friend, enabling users to input player names and generate a randomized tournament. This project demonstrated quick problem-solving and a creative approach to small-scale software development.
  </p>
</div>
<div>
    <h2>Current Projects</h2>
    
    <h3><a href="">Pay less eat more </a>(PLAM)</h3>
    <br>
    <p>
        This project is about paying less for food. Say that you want to eat spaghetti bolognese, then you can search for it in my web app to show you where the cheapest option is, based on the stores you have chosen.  
        <br> 
        For example, pasta costs 10 kr in Netto and 15 kr in Fakta. Then you can see that you can save 5 kr by buying it in Netto.  
        <br> 
        Meat costs 50 kr in Fakta, but 60 kr in Netto, so the app would choose the cheapest option. The only downside is that you have to go to each store to buy separate items.  
        <br> <br> 
        This project has been in the works for some time now, and I keep hitting a roadblock called ghosting.  
        I wrote to Tjek (e-offer app), COOP, and Salling Group, but no one has responded to me, so I have to find a new way to get the data I need.  
        <br> 
        Since Tjek does offer an API, I have tried to use their own API without documentation, but I have not been able to get it to work fully.  
        <br> 
        The closest I got is 25 items from each store. 
        <br><br> 
        Salling Group does have an API with documentation, but it only works for "BilkaToGo" and not for offers. This is a start, and I will try to get it to work.  
        <br> 
        Salling Group also has food waste initiatives that I would like to implement, though there has to be a disclaimer of some sort, since someone could already have taken the item.

    </p>
</div>
<div>
    <h2>Furture Projects</h2>
    <h3>Ai bot</h3>
    <p>
        I saw a Youtuber/Twicht streamer name vedal who has made his own AI bot that talks to him and his viewers, i was facinated by that and wants to try it out since i havent dabbelt much in AI yet. <br>
        He also made it so it could play games like Geoguessr and other games which is so facinating to me. 
        <br>
        I can imagine having a bot that can talk to me and i can talk to can be helpfull when coding to spar with. 
        <br>
    </p>
</div>
