<div>
<h2>Projects</h2>
<p>
    Tournament Generator: Developed a simple yet effective command-line program for a friend, enabling users to input player names and generate a randomized tournament. This project demonstrated quick problem-solving and a creative approach to small-scale software development.
    <br>
    Cocktail Recipe App: Created an Android app in Kotlin to manage cocktail recipes, emphasizing user-friendly design and efficient implementation.
    <br>
    "Screaming Plant" Project: Built an interactive tech project where a plant screamed when it needed water, blending humor and functionality.
</p>
</div>