<div class="main-container">
    <h2>Projects</h2>
    <!------------------------------------------------------------->
    <div class="project-container">
        <h3><a href="https://www.github.com/5-semesterprojekt">CMS for association work:</a></h3>
        <p>
            This is my last school project from my 5th semester. <br>
            in short it is a CMS for associations to manage their members, events, and finances. <br>
            Me and my friend from the project both got a 12/A for the project. <br>
            If you want to read the report, you can find it <a href="https://www.docs.google.com/document/d/1DJ6c2McJqItpUdfnAEB6k4sWdJIH71Lq6dEyRg8fLvY/edit?usp=sharing">here</a>. <br>
        </p>
    </div>
    <!------------------------------------------------------------->
    <div class="spacer"></div>
    <div class="project-container">
        <h3><a href="https://www.github.com/gubbih/Sandhed_eller_Bullshit">Truth or bullshit!</a></h3>
        <p>
            Truth or Bullshit is a Danish card game about common and uncommon knowledge, where players guess whether a statement is true or just bullshit. <br>
            I created an Android app for the game and wrote a Python script to read all the cards and generate a JSON file for the app. <br>
            The app is not available on the Play Store because I don't have the rights to the game, but the code is publicly available for anyone to use. <br>
            Due to copyright restrictions, I cannot share the JSON file. <br>
            I started this project because I wanted to bring the game to a New Year's Eve party. However, since other family members had plans to take the physical game with them, I decided to turn it into an app. <br>
            At the same time, I had always wanted to try coding in Python, so I saw this as a great small project to get started. <br>
            There are probably better or more optimized ways to do this, but this was a learning project for me. It took me about 14 hours in total - from taking pictures of the cards to completing the app. <br>
            The Kotlin part of the project is available <a href="https://www.github.com/gubbih/Sandhed_eller_Bullshit">here</a>. <br>
            The Python part of the project is available <a href="https://www.github.com/gubbih/ReadImageToSandB">here</a>. <br>
            Packages used: <br>
        </p>
        <ul>
            <li><strong>Pytesseract:</strong> for reading images</li>
            <li><strong>CV2:</strong> for editing images to improve readability</li>
            <li><strong>Json:</strong> for generating the JSON file</li>
            <li><strong>Numpy:</strong> for sharpening the images</li>
        </ul>

        <p>
            images:
        </p>
        <div class="image-container">
            <img src="assets/Projects/S&B/S&B_Question.jpg" alt="">
            <img src="assets/Projects/S&B/S&B_Answer.jpg" alt="">
        </div>
    </div>
    <!------------------------------------------------------------->
    <div class="spacer"></div>
    <div class="project-container">
        <h3><a href="https://www.github.com/gubbih/JuneBar">June bar:</a></h3>
        <p>
            Created an Android app in Kotlin to manage cocktail recipes, enhancing usability and quick deployment skills. 
            <br>
            Developed a web application as a final project for the Datamatiker program, specializing in GDPR and backend REST APIs, achieving top marks. 
            <br>
            Built a "screaming plant" project, combining creative tech and practical applications for interactive feedback. 
            <br>
            images here:
        </p>
    </div>
    <!------------------------------------------------------------->
    <div class="spacer"></div>
    <div class="project-container">
        <h3>Screaming plant</h3>
        <p>
            Made a screaming plant with help from an arduino, a humidity sensor, and a speaker. <br>
            the sensor went into the dirt and when the plant needed water, it would scream. simple but fun project. <br>
            destroyed the project after 2 days because the plant was screaming too much, probebly says more about me then the project. <br>
            <strong>No link for thins project since did not think about uploading it to github.</strong> <br>
        </p>
    </div>    
    <!------------------------------------------------------------->
    <div class="spacer"></div>
    <div class="project-container">
        <h3>Simple Tournament Generator</h3>
        <p>
            Developed a simple yet effective command-line program for a friend, enabling users to input player names and generate a randomized tournament. <br>
            This project demonstrated quick problem-solving and a creative approach to small-scale software development. <br>
            <strong>No link for thins project since did not think about uploading it to github.</strong> <br>
        </p>

    </div>
</div>
<div class="main-container">
    <h2>Current Projects</h2>
    
    <h3><a href="https://www.github.com/gubbih/NemmereBilligMad">Pay less eat more </a>(PLAM (pending name))</h3>
    <br>
    <p>
        This project is about paying less for food. Say that you want to eat spaghetti bolognese, then you can search for it in my web app to show you where the cheapest option is, based on the stores you have chosen.  
        <br> 
        For example, pasta costs 10 kr in Netto and 15 kr in Fakta. Then you can see that you can save 5 kr by buying it in Netto.  
        <br> 
        Meat costs 50 kr in Fakta, but 60 kr in Netto, so the app would choose the cheapest option. The only downside is that you have to go to each store to buy separate items.  
        <br> <br> 
        This project has been in the works for some time now, and I keep hitting a roadblock called ghosting.  
        I wrote to Tjek (e-offer app), COOP, and Salling Group, but no one has responded to me, so I have to find a new way to get the data I need.  
        <br> 
        Since Tjek does offer an API, I have tried to use their own API without documentation, but I have not been able to get it to work fully.  
        <br> 
        The closest I got is 25 items from each store. 
        <br><br> 
        Salling Group does have an API with documentation, but it only works for "BilkaToGo" and not for offers. This is a start, and I will try to get it to work.  
        <br> 
        Salling Group also has food waste initiatives that I would like to implement, though there has to be a disclaimer of some sort, since someone could already have taken the item.

    </p>
</div>
<div class="spacer"></div>
<div class="main-container">
    <h2>Furture Projects</h2>
    <h3>Ai bot</h3>
    <p>
        I saw a Youtuber/Twicht streamer name vedal who has made his own AI bot that talks to him and his viewers, i was facinated by that and wants to try it out since i havent dabbelt much in AI yet. <br>
        He also made it so it could play games like Geoguessr and other games which is so facinating to me. 
        <br>
        I can imagine having a bot that can talk to me and i can talk to can be helpfull when coding to spar with. 
        <br>
    </p>
</div>
