<div>
    <h1>Skills</h1>

    <p>
        Programming Languages: C#, JavaScript/TypeScript, Kotlin, PHP, Htlm, css <br>
    Frameworks & Tools: <a href="">ASP.NET</a>, <a href="">React</a>, <a href="">Blazor</a>, <a href="">Node.js</a>, <a href="">Express.js</a>, and now <a href="">Angular!! </a><br>
    Databases: MS SQL, MySQL, NoSQL (Firebase)<br> 
    Software Development Practices: Agile (Scrum/Kanban), Test-Driven Development (TDD), DevOps (CI/CD)<br>
    Other Skills: GDPR compliance, OOP, Git, strong problem-solving and teamwork<br>
    </p>
</div>